<strong>Recuperando sua senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail: ({{ email }}). Se você não foi o autor da requisição, seria legal trocar sua senha para mais segurança.</p>
<p>Para continuar com a recuperação de senha, utilize o token <strong>{{ token }}</strong> ou clique no link abaixo.</p>

<a href="{{ link }}">Criar nova senha</a>
