Recuperando sua senha

Uma solicitação de recuperação de senha foi realizada para o e-mail: ({{ email }}).
Se você não foi o autor da requisição, seria legal trocar sua senha para mais segurança.
Para continuar com a recuperação de senha, utilize o token {{ token }} ou utilize o link abaixo.

{{ link }}
